<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        #Апендер для вывода логов в консоль
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %c{1} [%t] - %m%n"/>
        </Console>
        #Апендер для вывода логов в файл
        <RollingFile name="spt" fileName="/home/logo/spt.log"
                     filePattern="/home/logo/spt-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout pattern="%d %d{Z} [%t] %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>

        <Logger name="kg.alex.spt">
            <AppenderRef ref="spt"/>
        </Logger>

        <Root level="all">
            <AppenderRef ref="console"/>
        </Root>

    </Loggers>

</Configuration>